config.json
appsettings.json
venv/
.venv/
logs/
__pycache__/
*.pyc
*.log
run.cmd
build/
dist/

sql/_local_passwords.json
sql/_setup_local.sql
sql/_admin_setup.ps1
sql/_admin_setup.log
sql/_atteninfo_setup.log
sql/_setup_atteninfo.ps1
sql/_register_task.ps1
